<div class="flex-column flex-shrink-0 p-3 shadow bg-light d-none d-lg-none d-xl-block vh-100 w-100">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <img src="img/logoMunicipalidadFsa.png" class="me-4 ms-3 rounded shadow" alt="" width="60" />
    <span class="fs-min fw-bold text-dark lh-sm">Municipalidad Digital {{ tituloHeader }}</span>

    <!-- <span *ngIf="modulo129" class="fs-min fw-bold text-dark">Municipalidad Digital - Solicitudes para Habilitaciones
      Comerciales</span>

    <span *ngIf="modulo204" class="fs-min fw-bold text-dark">Municipalidad Digital - Solicitudes Tramites de los
      Automotores</span> -->
  </a>
  <!-- <hr> -->
  <ul class="nav nav-pills flex-column mb-auto mt-4">
    <li class="nav-item d-flex justify-content-center">
      <a class="nav-link w-100 fs-min- fw-bold text-dark active" aria-current="page" routerLink="{{ rutaSolicitudes }}"
        routerLinkActive="active">
        <i class="fas fa-list-ul"></i>
        Solicitudes
      </a>
    </li>


    <li class="nav-item d-flex justify-content-center" style="margin-top: auto !important">
      <button class="nav-link w-100 fs-min- fw-bold logout text-danger" aria-current="page" (click)="cerrarSesion()">
        <i class="fas fa-power-off me-2"></i>
        Cerrar Sesión
      </button>
    </li>
  </ul>
</div>