<div class="container-fluid">
    <h5 class="text-center">
        <label class="ff fs-med fw-bold bg-azul px-5 py-1 shadow-sm rounded me-3">REQUISITO DIGITALIZADO</label> <label
            class="ff fs-med fw-bold bg-azul px-5 py-1 shadow-sm rounded me-3">SOLICITUD N°
            54007</label>
        <label class="ff fs-med fw-bold bg-azul px-5 py-1 shadow-sm rounded">DOMINIO
            A188IKN</label>
    </h5>

    <div class="row">
        <div class="col-8">
            <img class="card-img mb-5"
                src="https://static.eldiario.es/clip/bf67430c-4eaa-4942-afe1-3999f2dc6500_16-9-discover-aspect-ratio_default_0.jpg">
        </div>
        <div class="col-4">
            <div class="">
                <div class="row p-0">
                    <h4 class="h6 mb-2 text-center fw-bold text-uppercase color fs-min ff">Datos del titular</h4>
                    <div class="col-md-9 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2 bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2"
                                value="Garicoche, Emiliano Jesus">
                            <label class="fw-bold fs-min bg-transparent rounded-0 border-0">Apellido
                                y Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2 bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2"
                                value="40872675">
                            <label class="fw-bold fs-min label-requisito">Dni</label>
                        </div>
                    </div>
                    <div class="col-md-9 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2"
                                value="B° Republica Argentina Mz82 c3">
                            <label class="fw-bold fs-min label-requisito">Domicilio</label>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2"
                                value="3705018907">
                            <label class="fw-bold fs-min label-requisito">Telefono</label>
                        </div>
                    </div>
                    <div class="col-md-9 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2"
                                value="EJG250398@hotmail.com">
                            <label class="fw-bold fs-min label-requisito">E-Mail</label>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-primary shadow-sm border-bottom border-2"
                                value="100%">
                            <label class="fw-bold fs-min label-requisito">Titularidad</label>
                        </div>
                    </div>
                </div>

                <div class="row p-0 mb-4">
                    <h4 class="h6 mt-2 mb-2 text-center fw-bold text-uppercase color fs-min ff">Datos del Dominio</h4>
                    <div class="col-md-4 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-success shadow-sm border-bottom border-2"
                                value="25-03-2018">
                            <label class="fw-bold fs-min label-requisito">Fecha de alta</label>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-success shadow-sm border-bottom border-2"
                                value="AD273GM">
                            <label class="fw-bold fs-min label-requisito">Dominio</label>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-success shadow-sm border-bottom border-2"
                                value="CHEVROLET">
                            <label class="fw-bold fs-min label-requisito">Marca</label>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-success shadow-sm border-bottom border-2"
                                value="2018">
                            <label class="fw-bold fs-min label-requisito">Modelo</label>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-success shadow-sm border-bottom border-2"
                                value="2018">
                            <label class="fw-bold fs-min label-requisito">Año</label>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-floating datoSolicitud">
                            <input type="text" disabled
                                class="form-control fs-min- fw-bold bg-transparent rounded-0 border-0 border-success shadow-sm border-bottom border-2"
                                value="AUTOMOTOR">
                            <label class="fw-bold fs-min label-requisito">Tipo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>