<div class="alert alert-primary fw-bold" role="alert">
  <i class="fas fa-list-ul"></i> Listado de solicitudes - Todas las solicitudes
</div>


<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" class="full-width-table">

    <!-- Columna: # -->
    <ng-container matColumnDef="#">
      <th class="text-center" mat-header-cell *matHeaderCellDef>#</th>
      <td class="text-center" mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
    </ng-container>

    <!-- Columna: Solicitante -->
    <ng-container matColumnDef="solicitante">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Solicitante</th>
      <td mat-cell *matCellDef="let element">{{element.solicitante}}</td>
    </ng-container>

    <!-- Columna: Fecha -->
    <ng-container matColumnDef="fecha">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Fecha</th>
      <td class="text-center" mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>

    <!-- Columna: Actividad -->
    <ng-container matColumnDef="actividad">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Actividad</th>
      <td mat-cell *matCellDef="let element">{{element.actividad}}</td>
    </ng-container>

    <!-- Columna: Estado -->
    <ng-container matColumnDef="estado">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Estado</th>
      <td class="text-center" mat-cell *matCellDef="let element">{{element.estado}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button class="btn btn-sm shadow-sm border" color="primary" (click)="accionFila(element)"><i
            class="fas fa-file-contract"></i> Inspeccionar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <!-- Paginador -->
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

</div>