.btnAprobar {
    border: 0;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px silver;
}

.btnRechazar {
    border: 0;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px silver;
}