<div class="shadow-sm p-3 container-fluid">
    <h5 class="ff fw-bold"> Detalles de la solicitud para habilitación comercial </h5>
    <div class="row mb-3">
        <h5 class="ff fs-med fw-bold">Acciones disponibles para la solicitud</h5>

        <div class="col-6">
            <button class="alert alert-warning ff text-start py-2 px-4 fw-bold w-100 shadow bg-warning text-dark border"
                role="alert">
                <p class="m-0 p-0 w-100">Estado actual de la solicitud</p>
                <hr class="m-0 p-0">
                <p class="mb-0"><i class="fas fa-check me-1"></i> En Revisión</p>
            </button>
        </div>
        <div class="col-2">
            <button class="alert alert-success ff text-start py-2 px-4 fw-bold shadow bg-success text-white border"
                role="alert">
                <p class="m-0 p-0 w-100">Acción</p>
                <hr class="m-0 p-0">
                <p class="mb-0"><i class="fas fa-check me-1"></i> Aprobar Solicitud</p>
            </button>
        </div>
        <div class="col-2">
            <button class="alert alert-danger ff text-start py-2 px-4 fw-bold shadow bg-danger text-white border"
                role="alert">
                <p class="m-0 p-0 w-100">Acción</p>
                <hr class="m-0 p-0">
                <p class="mb-0"><i class="fas fa-times me-1"></i> rechazar Solicitud</p>
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 mb-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="13">
                <label class="fw-bold" style="font-size: 15px !important;">Número de Solicitud</label>
            </div>
        </div>
        <div class="col-md-9 mb-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="Morday">
                <label class="fw-bold" style="font-size: 15px !important;">Nombre de Fantasía</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="15997">
                <label class="fw-bold" style="font-size: 15px !important;">Número de Partida</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="NO SE COMPLETÓ ESTE CAMPO">
                <label class="fw-bold" style="font-size: 15px !important;">Carácter de Ocupacion</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="PROPIETARIO">
                <label class="fw-bold" style="font-size: 15px !important;">Carácter de Ocupación</label>
            </div>
        </div>

        <div class="col-md-6 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="55m2">
                <label class="fw-bold" style="font-size: 15px !important;">Superficie del Local Comercial</label>
            </div>
        </div>
        <div class="col-md-6  mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="Más de 25 m2 hasta 50">
                <label class="fw-bold" style="font-size: 15px !important;">Dimensiones del Local Comercial</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4 class="h6 mt-1 mb-3 text-center fw-bold text-uppercase ff fs-med">Datos de la persona (FISICA/JURIDICA)
        </h4>

        <div class="col-md-5 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="Garicoche Emiliano Jesus">
                <label class="fw-bold" style="font-size: 15px !important;">Apellido y Nombre / Razón Social</label>
            </div>
        </div>
        <div class="col-md-2 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="40872675">
                <label class="fw-bold" style="font-size: 15px !important;">Dni</label>
            </div>
        </div>
        <div class="col-md-2 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="20408726752">
                <label class="fw-bold" style="font-size: 15px !important;">Cuil/Cuit</label>
            </div>
        </div>
        <div class="col-md-3 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="ejg250398@gmail.com">
                <label class="fw-bold" style="font-size: 15px !important;">E-Mail</label>
            </div>
        </div>
        <div class="col-md-3 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="3705018907">
                <label class="fw-bold" style="font-size: 15px !important;">Telefono</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4 class="h6 mt-1 mb-3 text-center fw-bold text-uppercase ff fs-med">Datos de los Domicilios</h4>


        <div class="col-md-12 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="NO SE COMPLETÓ ESTE CAMPO">
                <label class="fw-bold" style="font-size: 15px !important;">Domicilio Comercial</label>
            </div>
        </div>



        <div class="col-md-12 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="DF">
                <label class="fw-bold" style="font-size: 15px !important;">Domicilio Fiscal</label>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <div class="form-floating datoSolicitud">
                <input type="text" disabled class="form-control fw-bold" value="DR">
                <label class="fw-bold" style="font-size: 15px !important;">Domicilio Real</label>
            </div>
        </div>

    </div>
</div>